@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Black-Web.ttf');

    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Bold-Web.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Medium-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Regular-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.cell-wrapper {
    border-radius: 15px;
    background: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    height: 200px;
    /* 12.5rem */
    width: 287px;
    /* 17.9rem */
    max-height: 287px;
    margin-left: 20px;
    margin-right: 20px;

}

.cell-wrapper:not(:first-child):not(:last-child) {
    /* margin: 6px 12px; */
}

.cell-number {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF5C00;
    width: 44px;
    height: 44px;
    border: 4px solid white;
}

.cell-title {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #010F1F;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;    
    bottom: 10px;
    left: 10px;    
    padding: 5px 15px;
    
}

.background_cluster_page {
    background: #010F1F;
    /* background-size: 100%; */
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background_cluster_1 {
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#cluster_1_marker_1 {
    cursor: pointer;
}

#cluster_1_marker_2 {
    cursor: pointer;
}

#cluster_1_marker_3 {
    cursor: pointer;
}

.container_page_cluster_1 {
    width: 100%;
    height: 100vh;
    background: #010F1F;

}

.header_container_page_cluster_1 {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 33px;

}

.header_btn_back {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 15vw;
}

.header_btn_back_description {
    margin-left: 15px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #00589B;
}

.header_cluster_1_name {
    width: 754px;
    height: 38px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: #FFFFFF;
    padding-left: 340px;
}

.main_container {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 85%;
    margin-top: 39px;
    /* margin-left: 20px; */
    margin-right: 20px;
    border-radius: 20px;
}

.section_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 287px;
    height: 860px;
    /* border: 1px solid white; */
}

.logistic_card {
    /* border-radius: 20px; */
    cursor: pointer;
}


.section_center {
    background: url('../images/background_cluster_1_map.png') no-repeat center;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
    border-radius: 15px;

}

.centered-map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 21;
}

#project_1 {
    cursor: pointer;
}

.logistic_cluster {
    position: relative;
    bottom: -40px;
    left: 57px;
}

.section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

#logistic_marker_1 {
    cursor: pointer;

}

#logistic_marker_2 {
    cursor: pointer;

}

#logistic_marker_3 {
    cursor: pointer;

}

#logistic_marker_4 {
    cursor: pointer;

}

#logistic_marker_5 {
    cursor: pointer;

}

#logistic_marker_6 {
    cursor: pointer;

}

#logistic_marker_7 {
    cursor: pointer;

}

#logistic_marker_8 {
    cursor: pointer;

}