@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Black-Web.ttf');

    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Bold-Web.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Medium-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Regular-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.cell-wrapper {
    border-radius: 15px;
    background: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    height: 20vh;
    /* 12.5rem */
    width: 14.95vw;
    /* 17.9rem */
    margin-left: 1.04vw;
    margin-right: 1.04vw;
    cursor: pointer;
}

.cell-wrapper:not(:last-child) {
    /* margin: 6px 12px; */
    margin-bottom: 20px;
}

.cell-number {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15vw;
    line-height: 1.15vw;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF5C00;
    width: 2.29vw;
    height: 2.29vw;
    border: 0.21vw solid white;
}

.cell-title {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 500;
    font-size: 0.83vw;
    line-height: 0.83vw;
    color: #010F1F;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 15px;
    max-width: 10vw;

}

.background_cluster_page {
    background: #010F1F;
    /* background-size: 100%; */
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background_cluster_1 {
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#cluster_1_marker_1 {
    cursor: pointer;
}

#cluster_1_marker_2 {
    cursor: pointer;
}

#cluster_1_marker_3 {
    cursor: pointer;
}

.container_page_cluster_1 {
    width: 100%;
    height: 100vh;
    background: #010F1F;

}

.header_container_page_cluster_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 1.04vw;
    padding-right: 1.04vw;
    padding-top: 1.72vw;

}

.header_btn_back {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    /* width: 15vw; */
    /* height: 2.29vh; */
    position: absolute;
    left: 20px;
}

.header_btn_back_description {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 1.04vw;
    margin-left: 0.63vw;
    color: #3C5168;
}

.header_cluster_1_name {
    height: 38px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4vw;
    line-height: 2.4vw;
    color: #FFFFFF;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 85%;
    margin-top: 2.03vw;   
    margin-right: 1.04vw;  
}

.section_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 287px;
    height: 860px;
    /* border: 1px solid white; */
}

.logistic_card {
    /* border-radius: 20px; */
    cursor: pointer;
}


/* .section_center {
    background: url('../images/test.jpg') no-repeat center;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 96%;
    z-index: 20;
    border-radius: 15px;

} */

.centered-map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 21;
}

#project_1 {
    cursor: pointer;
}

.logistic_cluster {
    position: relative;
    bottom: -40px;
    left: 57px;
}

.section_right {
    display: flex;
    flex-direction: column;
    height: 96%;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border: 1px solid white; */
}
/* .header_btn_back_container_cluster_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.24vw;
    padding-left: 3.13vw;
    padding-bottom: 2.24vw;
} */
