@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Black-Web.ttf');

    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Bold-Web.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Medium-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Regular-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


.header_cluster_1 {
    display: flex;
    flex-direction: row;
    padding-left: 1.04vw;
    padding-top: 2.45vw;
    padding-bottom: 2.24vw;
}


.header_cluster_logistic_description_btn {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 1.04vw;
    color: #3C5168;
    padding-left: 0.63vw;
}

.header_cluster_logistic_btn_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.header_cluster_logistic_btn_back {
    width: 2.19vw;
    height: 3.88vh;
    /* cursor: pointer; */
}

.header_description_cluster_logistic {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 700;
    font-size: 2.40vw;
    line-height: 2.40vw;
    color: #FFFFFF;
    padding-left: 16.56vw;
}

.header_container_page_cluster_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    padding-left: 1.04vw;
    padding-right: 1.04vw;
    padding-top: 1.72vw;
    padding-bottom: 2.24vw;

}

.header_btn_back {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    /* width: 2.19vw; */
    /* height: 3.88vh; */
    position: absolute;
    left: 20px;
}



.background_cluster_page {
    background: #010F1F;
    /* background-size: 100%; */
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header_btn_back_description {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 1.04vw;
    margin-left: 0.63vw;
    color: #3C5168;
    display: flex;
    align-items: center;
}

.header_cluster_1_name {
    height: 38px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4vw;
    line-height: 2.4vw;
    color: #FFFFFF;
    margin-left: 14.56vw;
}

.header_btn_back_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* cursor: pointer; */
    /* width: 15vw; */
    padding-top: 2.24vw;
    padding-left: 1.04vw;
    padding-bottom: 2.24vw;

}

.main_container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    /* grid-template-rows: 1fr 4fr 1fr;  */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    /* height: max-content; */

}

.section {
    /* grid-column-start: auto; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.section_center {
    position: relative;
    background: url('../images/test.jpg') no-repeat center;
    background-size: 100% 100%;
    border-radius: 15px;
    /* background-color: green; */
}

.centered-map {
    position: relative;
    top: 2px;
    right: 0px;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 21;
}

/* .header_btn_back_container_cluster_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.24vw;
    padding-left: 3.13vw;
    padding-bottom: 2.24vw;
} */
.cell-wrapper {
    border-radius: 15px;
    background: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    height: 27%;
    width: 14.95vw;

    margin-left: 1.04vw;
    margin-right: 1.04vw;
    cursor: pointer;
}

.cell-wrapper:not(:last-child) {

    margin-bottom: 20px;
}

.cell-number {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15vw;
    line-height: 1.15vw;
    color: #FFFFFF;
    position: absolute;
    top: 0.52vw;
    left: 0.52vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF5C00;
    width: 2.29vw;
    height: 2.29vw;
    border: 0.21vw solid white;
}

.cell-title {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 500;
    font-size: 0.83vw;
    line-height: 0.83vw;
    color: #010F1F;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    bottom: 0.52vw;
    left: 0.52vw;
    padding: 0.26vw 0.78vw;
    max-width: 15vw;


}

.marker_map_logistic {
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 50%;
    /* padding: .4em .75em; */
    background: #FF5C00;
    border: 0.20vw solid #FFFFFF;
    box-shadow: 0px 0px 0.78vw rgba(255, 255, 255, 0.75);
    z-index: 22;
    width: 2.29vw;
    height: 2.29vw;
}

.description_marker {
    cursor: pointer;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 500;
    font-size: 0.83vw;
    line-height: 0.83vw;  
    color: #010F1F;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: rgba(255, 255, 255, 0.8);
    /* border: 1px solid #FFFFFF; */
    border-radius: 100px;
    z-index: 23;
    padding: 0.26vw 0.78vw;

}

.number_marker {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15vw;
    /* line-height: 1.15vw;  */
    color: #FFFFFF;
}

.position_marker_1 {
    position: absolute;
    right: 19%;
    bottom: 9%;
}
.position_description_marker_1{
    position: absolute;
    right: 10%;
    bottom: 5%;
}

.position_marker_2 {
    position: absolute;
    right: 26%;
    bottom: 12%;
}
.position_description_marker_2{
    position: absolute;
    right: 30%;
    bottom: 10%;
}

.position_marker_3 {
    position: absolute;
    right: 24%;
    bottom: 23%;
}

.position_description_marker_3{
    position: absolute;
    right: 28%;
    bottom: 21%;
}

.position_marker_4 {
    position: absolute;
    top: 15%;
    left: 49%;
}

.position_description_marker_4{
    position: absolute;
    top: 20%;
    left: 53%;
}

.position_marker_5 {
    position: absolute;
    top: 23%;
    left: 39%;
}
.position_description_marker_5{
    position: absolute;
    top: 30%;
    left: 39%;
}

.position_marker_6 {
    position: absolute;
    top: 21%;
    left: 27%;
}

.position_description_marker_6{
    position: absolute;
    top: 17%;
    left: 25%;
}

.position_marker_7 {
    position: absolute;
    top: 28%;
    left: 21%;
}
.position_description_marker_7{
    position: absolute;
    top: 35%;
    left: 17%;
}

.position_marker_8 {
    position: absolute;
    bottom: 18%;
    left: 12%;
}
.position_description_marker_8{
    position: absolute;
    bottom: 25%;
    left: 3%;
}

/* ===========================Cluster_4============= */

.section_center_2 {
    position: relative;
    background: url('../images/background_cluster_4.jpg') no-repeat center;
    background-size: 100% 100%;
    border-radius: 15px;
    /* background-color: green; */
}