@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Black-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Bold-Web.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Medium-Web.ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Regular-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;

}

.app-container {
    min-height: 100vh;
}

.title {
    font-family: "Graphik LC Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    color: white;
    text-transform: uppercase;
    width: 98%;
    text-align: center;
    margin: 39px 0 31px;
}

.main-page-background {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.main-page-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #010F1F;
    min-height: 100vh;
}

.content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 85%;
    max-width: 3460px;
    /*max-height: 95vh;*/
}


.background__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.background_svg {
    position: absolute;
    object-fit: contain;
    top: 0;
    width: fit-content;
    height: 100%;
    z-index: 1;
}

.texts {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
}

.texts_content {
    position: relative;
    width: fit-content;
    height: 100%;
    aspect-ratio: 16 / 9;
}

/* .container_background_svg{
    object-fit: contain;
} */

.sign_russkiy {
    position: absolute;
    top: 61%;
    left: 24.8%;
    z-index: 2;
}

.sign_bigstone {
    position: absolute;
    top: 33%;
    left: 59.5%;
    z-index: 2;
}

.sign_artem {
    position: relative;
    top: 6.5%;
    left: 44.5%;
    z-index: 2;
}

.sign_aeroport {
    position: relative;
    top: 3%;
    left: 34.7%;
    z-index: 2;
}

.icon_aeroport {
    position: relative;
    top: 5.7%;
    left: 34.5%;
    z-index: 3;
}

.sign_vladivostok {
    position: absolute;
    top: 41%;
    left: 36.7%;
    z-index: 2;
}

.sign_tor {
    position: absolute;
    top: 22.5%;
    left: 22.7%;
    z-index: 2;
}

.sign_sanding {
    position: absolute;
    top: 42%;
    left: 16%;

    z-index: 2;
}

.sign_bridge_elena {
    position: absolute;
    top: 48.4%;
    left: 20.5%;
    z-index: 2;
}

.sign_island_popova {
    position: absolute;
    top: 71%;
    left: 12%;
    z-index: 2;
}

.sign_island_reineke {
    position: absolute;
    top: 82%;
    left: 11.3%;
    z-index: 2;
}

.island_naumova {
    position: absolute;
    top: 77.5%;
    left: 16.5%;
    z-index: 2;
}

.town_sputnik {
    position: absolute;
    top: 10.75%;
    left: 12.5%;
    z-index: 2;
}

.sea_ways {
    position: absolute;
    top: 28%;
    left: 0.2%;
    z-index: 1;
}

#land_ways {
    position: absolute;
    top: 58.5%;
    left: 26%;

    z-index: 1;
}

#path_1 {
    cursor: pointer;
}

#path_2 {
    cursor: pointer;
}

#path_3 {
    cursor: pointer;
}

#path_4 {
    cursor: pointer;
}


#path_5 {
    cursor: pointer;
}

#path_6 {
    cursor: pointer;
}




.map_box-container {
    position: fixed;
    background: url('/src/images/main_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

a {
    color: white;
    display: inline-flex;
    position: relative;
    border: none;

}


#cluster_1 {
    position: absolute;
    /* right: 372px;
    top: 5px; */
    pointer-events: none;
    right: 10%;
    top: -11%;
    width: 79.781vw;
    height: 64.352vw;

}

/* #path_1 {
   
    fill: rgba(255, 92, 0, 0.45);
    pointer-events: all !important;
}

#path_1:hover {
    cursor: pointer;
} */

.marker_cluster_1 {
    position: absolute;
    right: 650px;
    bottom: 585px;
}

.dot_1 {
    position: absolute;
    right: 640px;
    bottom: 633px;
}

.cluster_name_position_1 {
    position: absolute;
    right: 660px;
    bottom: 545px;
}

#cluster_2 {
    position: absolute;
    left: 620px;
    top: 100px;
    pointer-events: none;
}

.marker_cluster_2 {
    position: absolute;
    left: 860px;
    top: 230px;
}

.dot_2 {
    position: absolute;
    left: 850px;
    top: 215px;
}

.cluster_name_position_2 {
    position: absolute;
    left: 840px;
    top: 310px;
}

/* #path_2 {
    
    fill: rgba(250, 0, 195, 0.45);
    pointer-events: all !important;
}

#path_2:hover {
    cursor: pointer;

} */

#cluster_3 {
    position: absolute;
    left: 435px;
    top: 272px;
    pointer-events: none;
}

.marker_cluster_3 {
    position: absolute;
    left: 655px;
    top: 420px;
}

.cluster_name_position_3 {
    position: absolute;
    left: 715px;
    top: 455px;
}

.dot_3 {
    position: absolute;
    left: 645px;
    top: 409px;
}

/* #path_3 {
    
    fill: rgba(0, 250, 70, 0.45);
    pointer-events: all !important;
}

#path_3:hover {
    cursor: pointer;
} */


#cluster_4 {
    position: absolute;
    left: 405px;
    top: 505px;
    pointer-events: none;
}

.marker_cluster_4 {
    position: absolute;
    left: 595px;
    top: 625px;
}

.cluster_name_position_4 {
    position: absolute;
    left: 650px;
    bottom: 350px;
}

.dot_4 {
    position: absolute;
    left: 585px;
    top: 614px;
}

/* #path_4 {
    
    fill: rgba(51, 0, 253, 0.45);
    pointer-events: all !important;
}

#path_4:hover {
    cursor: pointer;
} */

#cluster_5 {
    position: absolute;
    left: 227px;
    top: 547px;
    pointer-events: none;
}

.cluster_name_position_5 {
    position: absolute;
    left: 500px;
    bottom: 250px;
}

.marker_cluster_5 {
    position: absolute;
    left: 445px;
    bottom: 285px;
}

.dot_5 {
    position: absolute;
    left: 435px;
    bottom: 323px;
}

/* #path_5 {
    
    fill: rgba(248, 253, 0, 0.45);
    pointer-events: all !important;
}

#path_5:hover {
    cursor: pointer;
} */

.description_page {
    margin-bottom: 30px;
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.19vw;
    line-height: 2.60vw;
    text-transform: uppercase;
    /* position: fixed;
    right: 20%;
    bottom: 2.5%; */
    /* opacity: 0; */
    color: #FFFFFF;
    /* width: 2.875rem; */
    /* width: 24.64vw; */
    z-index: 3;
    /* width: 30%; */
}

.container_clusters_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35.57vw;
    /* height: 7.5vw; */
    color: white;
    position: absolute;
    right: 18%;
    bottom: 3.5%;
    z-index: 2;
}

.descriprion_clusters_list {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.94vw;
    line-height: 0.94vw;
    color: #FFFFFF;
    margin-bottom: 0.52vw;
}


.name_cluster_item {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.94vw;
    line-height: 0.94vw;
    color: #FFFFFF;
    padding-left: 0.57vw;
}

.container_cluster_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.31vw;
}

.dot_cluster {
    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    z-index: 2;
    width: 0.47vw;
    height: 0.47vw;
}

/* .dot_background_1 {
    background: #790A60;
}

.dot_background_2 {
    background: #18A133;
}

.dot_background_3 {
    background: #231284;
}

.dot_background_4 {
    background: #84880A;
}

.dot_background_5 {
    background: #ff5c00;
} */

.text_sea {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 0.5;
    z-index: 3;
}

.amur_bay_position {
    position: absolute;
    top: 64%;
    left: 3%;
}

.ussuri_bay_position {
    position: absolute;
    top: 57%;
    left: 48%;
}

.text_city {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 1);
    z-index: 3;
}

.big_stone_position {
    position: absolute;
    top: 25%;
    right: 25.5%;
}

/* .artem_position {
    position: fixed;
    right: 53.3%;
    top: 16%;
    z-index: 3;
} */

.vladivostok_position {
    position: absolute;
    top: 33%;
    right: 62%;
}

.island_russian_position {
    position: absolute;
    top: 59%;
    right: 75%;
}

.aeroport {
    position: absolute;
    top: 2%;
    right: 64.5%;
}

.tor_nadeschdin {
    position: absolute;
    top: 16.25%;
    right: 82%;
}

.sanding {
    position: absolute;
    top: 35.5%;
    right: 87%;
}

.bridge_elena {
    position: absolute;
    top: 42.5%;
    right: 84.2%;
}

.bridge_bay_new {
    position: absolute;
    top: 56%;
    right: 56.5%;
}

.island_popova {
    position: absolute;
    top: 70%;
    right: 94%;
}

.island_reineke {
    position: absolute;
    top: 83%;
    right: 94%;
}



.text_location_1 {
    position: absolute;
    left: 50.5%;
    top: 48%;
}

.text_location_2 {
    position: absolute;
    left: 43%;
    top: 27%;
    min-width: 200px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_location_3 {
    position: absolute;
    left: 35.5%;
    top: 40.5%;
    min-width: 235px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_location_4 {
    position: absolute;
    left: 32.5%;
    top: 62%;
    min-width: 280px;
}

.text_location_5 {
    position: absolute;
    left: 28%;
    top: 69%;
    min-width: 280px;
}

.text_location_6 {
    position: absolute;
    left: 44%;
    top: 1.6%;
    min-width: 152px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cluster_block {
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: rgba(255, 255, 255, 0.8);
    /* border: 1px solid #FFFFFF; */
    /* border-radius: 100px; */
    z-index: 23;
    /* width: 12.50vw; */
    /* max-width: 251px; */
    /* height: 56px; */
    transition: ease-in-out 200ms;
}

.cluster_block:hover {
    opacity: 0.8;
}

.cluster_block_content {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cluster_block_text {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 3;
    margin: 8px;
    /* width: 11.41vw; */
}


.transport_marker_block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 152px;
    width: 100%;
    min-height: 40px;
    text-align: center;
    vertical-align: middle;
    z-index: 4;
    /* padding-top: 1.26vw; */
    /* padding: 0.26vw 0.82vw; */
    /* border-radius: 0.26vw; */

}

.transport_marker_location_1 {
    position: absolute;
    left: 21%;
    top: 24%;
}

.transport_marker_location_2 {
    position: absolute;
    left: 17.5%;
    top: 29.5%;
}

.transport_marker_location_3 {
    position: absolute;
    left: 2.5%;
    top: 51%;
}

/* .cluster_block_text {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 0.94vw;
    line-height: 0.94vw;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
} */

/* .transport_marker_line_1 {
    z-index: -1;
    position: fixed;
    left: 28%;
    top: 28%;
    width: 0.21vw;
    height: 2.7vw;
    background-color: #1C5896;

}

.transport_marker_line_2 {
    z-index: -2;
    position: fixed;
    left: 24.4%;
    top: 40%;
    width: 0.21vw;
    height: 2.71vw;
    background-color: #B0158A;

}

.transport_marker_line_3 {
    z-index: -2;
    position: fixed;
    left: 10%;
    top: 53.5%;
    width: 0.21vw;
    height: 2.7vw;
    background-color: #4496B0;

} */

.container_transport_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35.57vw;
    /* height: 7.5vw; */
    color: white;
    position: absolute;
    right: -11.5%;
    bottom: 8%;
    z-index: 2;
}

.transport_point_1 {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    width: 0.52vw;
    height: 0.52vw;
    z-index: 5;
    left: 27.7%;
    top: 31.3%;

}

.transport_point_2 {
    position: absolute;

    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    width: 0.52vw;
    height: 0.52vw;
    z-index: 5;
    left: 24.1%;
    top: 43.5%;

}

.transport_point_3 {
    position: absolute;

    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    width: 0.52vw;
    height: 0.52vw;
    z-index: 5;
    left: 9.7%;
    top: 57%;
}

.port_text {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.port_location_1 {
    position: absolute;
    top: 19%;
    left: 51.6%;
    z-index: 2;
}

.port_location_2 {
    position: absolute;
    top: 43%;
    left: 59%;
    z-index: 2;
}

.invest_text {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    color: #FFFFFF;
    text-align: start;
    text-shadow: 0 0 4px #000000;
}

.invest_location_1 {
    position: absolute;
    top: 81.7%;
    left: 12.1%;
    z-index: 2;
}

.invest_location_2 {
    position: absolute;
    top: 72%;
    left: 15%;
    z-index: 2;
}

.invest_location_3 {
    position: absolute;
    top: 36%;
    left: 18.75%;
    z-index: 2;
}

.container_gerbs {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    bottom: 8%;
    right: 5%;
    width: 100%;
    max-width: 600px;
    /* width: auto; */
}

.container_gerbs_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerb_text {
    font-family: 'Graphik LC Web', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12px;
}


#invest_scroll_page,
#invest_page {
    cursor: pointer;
}

#vkad {
    cursor: pointer;
}
#metro{
    cursor: pointer;

}

@media screen and (min-width: 3000px) {
    .town_sputnik {
        top: 11.5%;
        left: 15.5%;
    }

    .big_stone_position {
        top: 25.35%;
        right: 28.5%;
    }

    .port_location_2 {
        top: 43.5%;
        left: 62.5%;
    }

    .bridge_bay_new {
        top: 56%;
        right: 59.5%;
    }

    .invest_location_3 {
        left: 21%;
    }

    .transport_marker_location_2 {
        left: 20.5%;
    }

    .transport_marker_location_1 {
        left: 24%;
    }

    .tor_nadeschdin {
        top: 16.65%;
    }

    .text_location_6 {
        top: 4.2%;
    }
}