@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Black-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Bold-Web.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Medium-Web.ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../fonts/Graphik-Regular-Web.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;

}

.app-container {
    width: 100vw;
    height: 100vh;
    /* max-width: 1920px;
    max-height: 1080px; */
}

.main-page-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #010F1F;
}

.main-page-container {
    
    /* margin-left: 40px;
    margin-right: 40px; */
    width: 84%;
    height: 84%;
    overflow: auto;
}

.background {
    background: url('/src/images/background.png') no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    width: 84%;
    height: 84%;
    z-index: 1;
}

.background_1 {
    position: absolute;
    width: 84%;
    height: 84%;
    z-index: 2;
}

.sign_russkiy {
    position: absolute;
    top: 61%;
    left: 24.8%;
    z-index: 2;
}

.sign_bigstone {
    position: absolute;
    top: 33%;
    left: 59.5%;
    z-index: 2;
}

.sign_artem {
    position: relative;
    top: 6.5%;
    left: 44.5%;
    z-index: 2;
}

.sign_aeroport {
    position: relative;
    top: 3%;
    left: 34.7%;
    z-index: 2;
}

.icon_aeroport {
    position: relative;
    top: 5.7%;
    left: 34.5%;
    z-index: 3;
}

.sign_vladivostok {
    position: absolute;
    top: 41%;
    left: 36.7%;
    z-index: 2;
}

.sign_tor {
    position: absolute;
    top: 22.5%;
    left: 22.7%;
    z-index: 2;
}

.sign_sanding {
    position: absolute;
    top: 41%;
    left: 16%;
    z-index: 2;
}

.sign_bridge_elena {
    position: absolute;
    top: 48.4%;
    left: 20.5%;
    z-index: 2;
}

.sign_island_popova {
    position: absolute;
    top: 71%;
    left: 12%;
    z-index: 2;
}

.sign_island_reineke {
    position: absolute;
    top: 82%;
    left: 11.3%;
    z-index: 2;
}

.sea_ways {
    position: absolute;
    top: 28%;
    left: 0.2%;
    z-index: 1;
}

#land_ways {
    position: absolute;
    top: 58.5%;
    left: 26%;

    z-index: 1;
}

#path_1 {
    cursor: pointer;
}

#path_2 {
    cursor: pointer;
}

#path_3 {
    cursor: pointer;
}

#path_4 {
    cursor: pointer;
}


#path_5 {
    cursor: pointer;
}




.map_box-container {
    position: fixed;
    background: url('/src/images/main_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

a {
    color: white;
    display: inline-flex;
    position: relative;
    border: none;

}


#cluster_1 {
    position: fixed;
    /* right: 372px;
    top: 5px; */
    pointer-events: none;
    right: 10%;
    top: -11%;
    width: 79.781vw;
    height: 64.352vw;

}

/* #path_1 {
   
    fill: rgba(255, 92, 0, 0.45);
    pointer-events: all !important;
}

#path_1:hover {
    cursor: pointer;
} */

.marker_cluster_1 {
    position: fixed;
    right: 650px;
    bottom: 585px;
}

.dot_1 {
    position: fixed;
    right: 640px;
    bottom: 633px;
}

.cluster_name_position_1 {
    position: fixed;
    right: 660px;
    bottom: 545px;
}

#cluster_2 {
    position: fixed;
    left: 620px;
    top: 100px;
    pointer-events: none;
}

.marker_cluster_2 {
    position: fixed;
    left: 860px;
    top: 230px;
}

.dot_2 {
    position: fixed;
    left: 850px;
    top: 215px;
}

.cluster_name_position_2 {
    position: fixed;
    left: 840px;
    top: 310px;
}

/* #path_2 {
    
    fill: rgba(250, 0, 195, 0.45);
    pointer-events: all !important;
}

#path_2:hover {
    cursor: pointer;

} */

#cluster_3 {
    position: fixed;
    left: 435px;
    top: 272px;
    pointer-events: none;
}

.marker_cluster_3 {
    position: fixed;
    left: 655px;
    top: 420px;
}

.cluster_name_position_3 {
    position: fixed;
    left: 715px;
    top: 455px;
}

.dot_3 {
    position: fixed;
    left: 645px;
    top: 409px;
}

/* #path_3 {
    
    fill: rgba(0, 250, 70, 0.45);
    pointer-events: all !important;
}

#path_3:hover {
    cursor: pointer;
} */


#cluster_4 {
    position: fixed;
    left: 405px;
    top: 505px;
    pointer-events: none;
}

.marker_cluster_4 {
    position: fixed;
    left: 595px;
    top: 625px;
}

.cluster_name_position_4 {
    position: fixed;
    left: 650px;
    bottom: 350px;
}

.dot_4 {
    position: fixed;
    left: 585px;
    top: 614px;
}

/* #path_4 {
    
    fill: rgba(51, 0, 253, 0.45);
    pointer-events: all !important;
}

#path_4:hover {
    cursor: pointer;
} */

#cluster_5 {
    position: fixed;
    left: 227px;
    top: 547px;
    pointer-events: none;
}

.cluster_name_position_5 {
    position: fixed;
    left: 500px;
    bottom: 250px;
}

.marker_cluster_5 {
    position: fixed;
    left: 445px;
    bottom: 285px;
}

.dot_5 {
    position: fixed;
    left: 435px;
    bottom: 323px;
}

/* #path_5 {
    
    fill: rgba(248, 253, 0, 0.45);
    pointer-events: all !important;
}

#path_5:hover {
    cursor: pointer;
} */

.description_page {
    margin-bottom: 30px;
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 2.19vw;
    line-height: 2.60vw;
    text-transform: uppercase;
    /* position: fixed;
    right: 20%;
    bottom: 2.5%; */
    /* opacity: 0; */
    color: #FFFFFF;
    /* width: 2.875rem; */
    /* width: 24.64vw; */
    z-index: 3;
    /* width: 30%; */
}

.container_clusters_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35.57vw;
    /* height: 7.5vw; */
    color: white;
    position: fixed;
    right: 18%;
    bottom: 3.5%;
    z-index: 2;
}

.descriprion_clusters_list {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 700;
    font-size: 0.94vw;
    line-height: 0.94vw;
    color: #FFFFFF;
    margin-bottom: 0.52vw;
}


.name_cluster_item {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 500;
    font-size: 0.94vw;
    line-height: 0.94vw;
    color: #FFFFFF;
    padding-left: 0.57vw;
}

.container_cluster_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.31vw;
}

.dot_cluster {
    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    z-index: 2;
    width: 0.47vw;
    height: 0.47vw;
}

/* .dot_background_1 {
    background: #790A60;
}

.dot_background_2 {
    background: #18A133;
}

.dot_background_3 {
    background: #231284;
}

.dot_background_4 {
    background: #84880A;
}

.dot_background_5 {
    background: #ff5c00;
} */

.text_sea {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 0.83vw;
    line-height: 0.83vw;
    color: #FFFFFF;
    opacity: 0.5;
    z-index: 3;
}

.amur_bay_position {
    position: fixed;
    top: 64%;
    left: 11%;
}

.ussuri_bay_position {
    position: fixed;
    top: 55%;
    left: 46%;
}

.text_city {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 0.83vw;
    line-height: 0.83vw;
    color: #FFFFFF;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.big_stone_position {
    position: fixed;
    top: 32.5%;
    right: 27%;
}

.artem_position {
    position: fixed;
    top: 15.5%;
    right: 53%;
    z-index: 3;
}

.vladivostok_position {
    position: fixed;
    top: 39.5%;
    right: 60.5%;
}

.island_russian_position {
    position: fixed;
    top: 61%;
    right: 71%;
}

.aeroport {
    position: fixed;
    top: 13%;
    right: 62.5%;
}

.tor_nadeschdin {
    position: fixed;
    top: 22.3%;
    right: 77.7%;
}

.sanding {
    position: fixed;
    top: 40.7%;
    right: 81.7%;
}

.bridge_elena {
    position: fixed;
    top: 47.8%;
    right: 80%;
}

.island_popova {
    position: fixed;
    top: 70%;
    right: 86.5%;
}

.island_reineke {
    position: fixed;
    top: 80.5%;
    right: 87.3%;
}



.text_location_1 {
    position: fixed;
    left: 44.5%;
    top: 33.5%;
}

.text_location_2 {
    position: fixed;
    left: 37.5%;
    top: 46%;
}

.text_location_3 {
    position: fixed;
    left: 35%;
    top: 63%;
}

.text_location_4 {
    position: fixed;
    left: 28%;
    top: 75%;
}

.text_location_5 {
    position: fixed;
    left: 53%;
    top: 59%;
}

.cluster_block {
    z-index: 3;
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: rgba(255, 255, 255, 0.8);
    /* border: 1px solid #FFFFFF; */
    /* border-radius: 100px; */
    z-index: 23;
    padding: 0.52vw 1.04vw;
    /* width: 12.50vw; */
    /* max-width: 251px; */
    /* height: 56px; */


}


.cluster_block_text {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 0.83vw;
    line-height: 0.83vw;
    color: #FFFFFF;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 3;
    /* width: 11.41vw; */
}


.transport_marker_block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 7.87vw;
    min-height: 2.1vw;
    text-align: center;
    vertical-align: middle;
    z-index: 4;
    /* padding-top: 1.26vw; */
    /* padding: 0.26vw 0.82vw; */
    /* border-radius: 0.26vw; */

}

.transport_marker_location_1 {
    position: fixed;
    left: 24.5%;
    top: 32.5%;
}

.transport_marker_location_2 {
    position: fixed;
    left: 22.7%;
    top: 39%;
}

.transport_marker_location_3 {
    position: fixed;
    left: 2.5%;
    top: 51%;
}

/* .cluster_block_text {
    font-family: 'Graphik LC Web';
    font-style: normal;
    font-weight: 400;
    font-size: 0.94vw;
    line-height: 0.94vw;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
} */

/* .transport_marker_line_1 {
    z-index: -1;
    position: fixed;
    left: 28%;
    top: 28%;
    width: 0.21vw;
    height: 2.7vw;
    background-color: #1C5896;

}

.transport_marker_line_2 {
    z-index: -2;
    position: fixed;
    left: 24.4%;
    top: 40%;
    width: 0.21vw;
    height: 2.71vw;
    background-color: #B0158A;

}

.transport_marker_line_3 {
    z-index: -2;
    position: fixed;
    left: 10%;
    top: 53.5%;
    width: 0.21vw;
    height: 2.7vw;
    background-color: #4496B0;

} */

.container_transport_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35.57vw;
    /* height: 7.5vw; */
    color: white;
    position: fixed;
    right: -11.5%;
    bottom: 8%;
    z-index: 2;
}

.transport_point_1 {
    position: fixed;
    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    z-index: 2;
    width: 0.52vw;
    height: 0.52vw;
    z-index: 5;
    left: 27.7%;
    top: 31.3%;

}

.transport_point_2 {
    position: fixed;

    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    z-index: 2;
    width: 0.52vw;
    height: 0.52vw;
    z-index: 5;
    left: 24.1%;
    top: 43.5%;

}

.transport_point_3 {
    position: fixed;

    display: inline-block;
    border-radius: 50%;
    border: 0.15vw solid #FFFFFF;
    z-index: 2;
    width: 0.52vw;
    height: 0.52vw;
    z-index: 5;
    left: 9.7%;
    top: 57%;
}